.title-products{
    padding: 0;min-height: 60px;
    cursor:pointer;
    min-height: 60px
}

#slider-main{
    position:relative;
    top: -28px   
}

.text-supplier{
    font-size: 12px;
    color: #6c757d;
}

.star{
    width: 22px;
    height: 22px;
    color:#ffa608;
    fill:#ffa608
}

.img-card-product{
    width:60%;
    cursor: pointer;
    position: relative;
    margin-left: 20%;
    padding-top: 15px
}

.title-menu-left{
    border-bottom: 3px solid #ccd07b !important;
    margin-bottom: 20px;
    font-weight: bold;
    cursor: pointer
}
.subtitle-menu-left{
    font-size: 13px
}

.img-plus-filter{
    width:28px;
    height:28px;
    cursor: pointer;
}

.btn-minus-card-product{
    width:25px; 
    height:25px
}

.row-form-add-product{
    background-color: #5cb19a;
    color:white;
    padding-bottom: 2%;
    padding-top: 5%;
    padding-left: 0;
    padding-right: 0;
    border-radius: 10px;
}
.row-form-add-product > div{
    padding-left: 0;padding-right: 0
}

.card-img-product{
    cursor: pointer;
    width:60%;
    position: relative;
    margin-left: 20%;
    padding-top: 15px;
}


#text-search{
    width: 320px;
    height: 26px
}

#title-account{
    color:white;
    font-size: 19px;
    padding-left: 15px;
    padding-right:15px;
    padding-top: 15px    
}

.title-green {
    color: #28a745;
    font-size: 26px;
    cursor: pointer;
}

.title-color{
    font-size: 50px;
    font-family: "dosis" !important
}




#img-cart{
    width:45%
}

.title-diet{
    font-family: "dosis" !important
}

.link-white{
    color:white !important;
    font-size: 15px
}

.icon-social {
    position: absolute;
    top: 0.1em;
    /*right: 90%;*/
    /*right: 10px;*/
    text-decoration: none;
    text-align: right;
    color: #fff;
    padding-top: 0.1em;
    z-index: 2000;
}

.img-social {
    width: 50%
}

.center-image{
    padding-left: 28%;
    padding-top: 15px;padding-bottom: 2%   
}

.title-menu{
    color: white !important;
    font-size: 21px
}

.title-menu:hover{
    color: white;
    font-weight: bold
}

.main-menu{
    padding-top: 50px;
    position: relative;
    transition: all 1s ease;
    background-repeat: no-repeat;
    background-position-y: -55px;

}

.img-header{

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-color: rgba(91,175,152,1);*/
    background-color: #000;
    height: 70px;
    padding-bottom:2%
}

.main-menu-out{
    padding-top: 0px;
    transition: all 1.5s ease;
    background-color: rgba(91,175,152,1) !important
}

#img-logo{
    width:50%
}


.go-top {
    position: fixed;
    bottom: 4em;
    right: 2em;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 1em;
    display: none;
    z-index: 1000;
    border-radius: 50% 50% 50% 50%;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
}

.popover-body{
    padding: 20px;
    overflow-y: scroll;
    height: 550px
}
.popover{
    max-width: 380px;
}

.input-quantity-product{
    text-align: center;
    padding: 0;
    border-radius: 5px;
    border: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 35px
}

.icon-ok{
    background-color: #5cb19a;
    color:white;
    padding-bottom: 30%;
    padding-top: 40%;
    padding-left: 0;
    padding-right: 35px;
    border-radius: 10px;   
}

.card-selected{
    border:1px solid #5cb19a !important;
    transition: opacity 2s linear;
}
#title-card-client{
    background-color: #000
}


#categories-footer .list-group-item {
    background-color: rgba(255,255,255,0);
    color:rgba(255,255,255,1);
    padding: .60rem 1.25rem;
    border: 0px;
    font-size: 20px
}
.footer-template{
    /*        padding-top: 100px;
            position: relative;
            transition: all 1s ease;*/
    background-repeat: no-repeat;
    /*background-position-y: -20px;*/
    background-image: url("/images/fondofooter_greenbk.png");
    background-color: #6dcbb !important
        background-color: #6dcbb !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    background-size: 100% 100%;
    /*width: 100%;*/
}

.titles-footer{
    color:white;
}

#content-image{
    position:relative;
    top:-120px
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.go-top {
    position: fixed;
    bottom: 4em;
    right: 2em;
    text-decoration: none;
    color: #fff;
    background-color: rgb(90,176,153,0.8);
    font-size: 12px;
    padding: 1em;
    display: none;
    z-index: 1000;
    border-radius: 50% 50% 50% 50%;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
}

.slider-main{
    position:fixed;
}

.link-green{
    color:rgba(91,175,152,1);
    font-weight: 600
}

.card{
    -webkit-box-shadow: -9px 8px 12px -2px rgba(0,0,0,0.15);
    -moz-box-shadow: -9px 8px 12px -2px rgba(0,0,0,0.15);
    box-shadow: -9px 8px 12px -2px rgba(0,0,0,0.15);

    border: 1px solid rgba(0,0,0,.07);
    border-radius:10px;
    margin-bottom: 3%;
    margin-left: 4%;
    /*border:none;*/
}

/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}


.list-group-item {
    background-color: rgba(255,255,255,0);
    padding: .40rem 1.25rem;
    border: 0px;
    font-size: 20px;color: black;
}

#categories-filter .list-group .list-group-item.active{
    background-color: #30c594 !important;
    color:#ffffff
}

#loading-super{
    display: scroll;
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 40%
}
#popover-customer{
    position: absolute;
    top: 12%;
    right: 50px;
    text-decoration: none;
    width: 25%;
    padding-top: 0.1em;
    z-index: 2000;
}

#content-cart{
    padding: 20px;
    overflow-y: scroll;
    max-height: 500px;
}



@media screen and (max-width: 2000px) {
    #slider-main{
        position:relative;
        padding-top: 1%
            /*top: -55px*/   
    }
}

@media screen and (max-width: 1500px) {

    #text-search{
        width: 220px;
        height: 26px
    }

    .title-diet-header{
        font-size: 20px
    }
    .title-products{
        font-size: 14px;
        padding: 0;min-height: 60px;
    }


    .center-image{
        padding-left: 19%;
        padding-top: 15px;padding-bottom: 2%   
    }

    #init-session{
        padding-right:130px
    }

    #slider-main{
        position:relative;
        top: -60px   
    }

}


@media screen and (max-width: 1400px) {
    #text-search{
        width: 200px;
        height: 26px
    }

    #init-session{
        padding-right: 50%
    }

    .center-image{
        padding-left: 23%;
        padding-top: 15px;padding-bottom: 2%   
    }
}


@media screen and (max-width: 1300px) {
    #text-search{
        width: 240px;
        height: 26px
    }

    .center-image{
        padding-left: 20%;
        padding-top: 15px;padding-bottom: 2%   
    }

    #img-menu{
        display: none;
    }

    #init-session{
        padding-right: 0
    }
    #title-account{
        font-size: 16px
    }
    #img-cart{
        width:35%
    }

    #text-search{
        width: 180px;
        height: 26px
    }
}



@media screen and (max-width: 1200px) {
    .title-new {
        display: none !important;
    }
    .title-products{
        font-size: 15px;
        padding: 0;min-height: 60px;
    }
    .text-supplier{
        font-size: 11px;
        color: #6c757d
    }

    .star{
        width: 18px;
        height: 18px;
        color:#ffa608;
        padding-left: 1px;
        fill:#ffa608
    }

    .center-image{
        padding-left: 23%;
        padding-top: 15px;
        padding-bottom: 2%   
    }
    #text-search{
        width: 140px;
        height: 26px
    }
    #title-account{
        font-size: 14px
    }

    .title-menu{
        color:white;
        font-size: 16px
    }

    #style-input-search{
        padding-left: 0px;
        padding-right: 0px
    }
}

@media screen and (max-width: 1100px) {
    .title-new {
        display: none !important;
    }
    .title-products{
        font-size: 11px;
        padding: 0;
        min-height: 40px;
    }

    .img-plus-filter{
        width:18px;
        height:18px;

    }

    .title-menu-left{
        font-size: 14px !important
    }

    .title-diet{
        font-size: 25px;
    }
    .link-white{
        font-size: 14px;
    }

    .star{
        width: 13px;
        height: 15px;
    }

    .btn-minus-card-product{
        width:13px; 
        height:13px
    }

    .input-quantity-product{
        text-align: center;
        padding: 0;
        border-radius: 5px;
        border: 0px;
        padding-bottom: 2px;
        padding-top: 2px;
        width: 25px
    }

    #img-logo{
        width:35%
    }
}
@media screen and (max-width: 900px) {
    .title-new {
        display: none !important;
    }

    .title-products{
        font-size: 12px;
        padding: 0;min-height: 60px;
    }

    .star{
        width: 13px;
        height: 15px;
    }

    .title-menu-left{
        font-size: 17px
    }

    #slider-main{
        padding-top: 100px
    }

}

@media screen and (max-width: 800px) {
    .title-new {
        display: none !important;
    }

    .title-menu-left{
        font-size: 17px
    }

    .title-products{
        font-size: 12px;
        padding: 0;min-height: 60px;
    }

    .star{
        width: 13px;
        height: 15px;
    }

    #slider-main{
        padding-top: 50px
    }

}

@media screen and (max-width: 400px) {
    #slider-main{
        position:relative;
        top: -62px   
    }
}