.row-card{

    padding-bottom: 20px;

    .title-color{
        font-size: 50px;font-family: "dosis" !important
    }
}

.color-card-item{
    color:black;
}

.box-slider-products{
    background-color: #f8f7f5;margin-left: 10px;padding-top: 1%;padding-bottom: 1%
}

